<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 임시로 지움-->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- scsapjt CSS -->
    <!-- 임시로 지움 <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Hello, scsapjt!</title>-->
</head>
<body>
<!-- 네비게이션바 -->
{% include "navbar.html" %}
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}
{% endblock %}
<!-- 기본 템플릿 안에 삽입될 내용 End -->
<!-- Bootstrap JS -->
<!-- 임시로 지움 <script src="{% static 'bootstrap.min.js' %}"></script> {% endcomment %} -->
</body>
</html>
